<div class="container">
  <div class="row">
    <div class="col-12">
      <% if account_signed_in? %>
      <%= link_to  "sign out", destroy_account_session_path, method: :delete, class: "float-right ml-4" %>
      <% else %>
      <%= link_to "welcome to simonslist!", 'https://simonpeterdebbarma.com', class: "float-right  ml-4" %>
      <% end %>

      <%= link_to  "dashboard", dashboard_path, class: "float-right" %>

      <%= link_to  "new post", new_post_path, class: "float-right" %>

      <%= link_to  "home", root_path %> >>

      <% if @post.present? && !@post.new_record?
        category = @post.category
        parent = category.parent
      %>
      <% if parent.present? %>
      <%= link_to parent.name, category_path(parent) %> >>
      <% end %>

      <%= link_to category.name, category_path(category) %> >>
      <%= @post.title %>
      <% elsif @category.present? 
        parent = @category.parent
      %>
      <% if parent.present? %>
      <%= link_to parent.name, category_path(parent) %> >>
      <% end %>
      <%= @category.name%>
      <% end %>
    </div>
  </div>
</div>