<div class="breadcrumbs">
  <% if account_signed_in? %>
    <%= link_to  "sign out", destroy_account_session_path, method: :delete, class: "pull-right m-l-10" %>
  <% else %>
    <%= link_to "welcome to simonslist!", 'https://simonpeterdebbarma.com', class: "pull-right  m-l-10" %>
  <% end %>
  <%= link_to  "new post", new_post_path, class: "pull-right" %>

  <%= link_to  "home", root_path %> >> 

  <% if @post.present? && !@post.new_record?
    category = @post.category
    parent = category.parent
  %>
  <% if parent.present? %>
      <%= link_to parent.name, category_path(parent) %> >>
  <% end %>
  
    <%= link_to category.name, category_path(category) %> >>
    <%= @post.title %>
  <% elsif @category.present? 
    parent = @category.parent
  %>
    <% if parent.present? %>
      <%= link_to parent.name, category_path(parent) %> >>
    <% end %>
    <%= @category.name%>
  <% end %>
</div>